.main{
    width: 391px;
    height: 440px;
    border: 1px solid #e5e8ed;
    border-radius: 4px;
}
.main:hover{
    box-shadow: 0px 5px 60px -20px gray;
}
.mainBlock{
    margin: 21px 24px 0 23px;
}
.area{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    line-height: 20px;
    padding: 2px 8px 3px 8px;
    color: white;
}
.name{
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    color: #1e212c;
}
.footer{
    margin-top: 20px;
    color: #787a80;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.cost{
    color: #ff4242;
    margin-right: 7px;
    font-weight: 900;
}
