.blogs {
    max-width: 1232px;
    margin: 120px auto 180px auto;
    height: 659px;

    &__heading0 {
        font-size: 46px;
        font-weight: 900;
        line-height: 60px;
        color: #1E212C;
        margin-top: 8px;
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 60px;
    }

    &_content {
        display: flex;
        justify-content: space-between;
        max-width: 1232px;
    }
}