@font-face {
    font-family: 'iconsoc';
    src: url(../footer/fonts/iconsoc.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.teamcard{
    width: 285px;
    height: 416px;
    &__descriprion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__name{
        text-align: center;
        font-size: 20px;
        color: #424551;
        line-height: 30px;
        margin-top: 16px;
    }
    &__position{
        text-align: center;
        font-weight: 400;
        line-height: 33px;
        color:#787a80
    }
}
.teamcard__shadow{
    height: 340px;
    position: relative;
}
.teamcard__socials{
    display: none;
    justify-content: space-between;
    position: absolute;
    bottom: 17px;
    right: 20px;
    width: 84px;
    & a{
        color: rgba($color: white, $alpha: 0.5);  
        background: none !important; 
       }
    & a::before{
        font-weight: 400;
        font-family: iconsoc;
        font-size: 20px;
        content: attr(data);
    }
    & a:hover{
        color: white;
    }
}

