.eventDetails{
    background: url(./eventDetails_icons&fonts/EventDetail_backgroundMain.svg) no-repeat;
    &__header{
        margin: 0 auto;
        max-width: 1020px;
        padding-top: 190px;
        height: 468px;
        &-type{
            color: #FF3F3A;
        }
        &-heading{
            margin-top: 15px;
            letter-spacing: -0.4px;
        }
    }
    &__about{
        max-width: 1230px;
        margin: 120px auto 114px auto;
        &-programm{
            margin-top: 30px;
        }
        &-title{
            color: #1E212C;
            font-weight: 900;
            font-size: 46px;
            letter-spacing: -0.6px;
        }
        &-main{
            max-width: 601px;
            span {
                color: #FF3F3A;
                font-weight: 400;
                margin-right: 5px;
                span {
                    font-size: 28px;
                    margin-right: 20px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &-topic{
            font-size: 20px;
            line-height: 51px;
            color: #1E212C;
        }
        &-active {
            margin: 5px 0 10px 39px;
            color: #424551;
            font-weight: 400;
            line-height: 26px;
        }
        &-nonactive {
            display: none;
        }
    }
}