.testimonials{
    max-width: 1242px;
    margin: 180px auto 0 auto;
    p{
        text-align: center;
        color: #1E212C;
    }
    &_heading{
        font-size: 17px;
        letter-spacing: 0.4px;
    }
    &_notification{
        font-size: 46px;
        font-weight: 900;
        line-height: 80px;  
    }
}