.btn{
    border: 1px solid #ff3f3a;
    font-size: 16px;
    letter-spacing: 0.65px;
    border-radius: 4px;
    color: #ff3f3a;
    line-height: 50px;
    background: transparent;
    font-weight: 700;
    height: 52px;
    text-align: center;
    display: inline-block;
}

.btn:hover{
    border: none;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    border-radius: 4px;
    color: white;
}
.btn14{
    border: 1px solid #ff3f3a;
    font-size: 14px;
    letter-spacing: 0.65px;
    border-radius: 4px;
    color: #ff3f3a;
    line-height: 42px;
    text-align: center;
    background: transparent;
    display: inline-block;
    height: 44px;
    
}
.btn14:hover{
    border: none;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    border-radius: 4px;
    color: white;
}