@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

body{
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

// :link, :visited {
// 	text-decoration: none;

// }

.headingCenter60{
  font-size: 46px;
  font-weight: 900;
  line-height: 60px;  
  color: #1E212C;
  margin-bottom: 60px;
  margin-top: 8px;
  text-align: center;
}
.heading60{
  font-size: 46px;
  font-weight: 900;
  line-height: 60px;  
  color: #1E212C;
  margin-bottom: 60px;
  margin-top: 8px;
}
.heading40{
  font-size: 46px;
  font-weight: 900;
  line-height: 60px;  
  color: #1E212C;
  margin-bottom: 40px;
  margin-top: 8px;
}

.notificationCenter{
  letter-spacing: 1px;
  color: #1E212C;
  text-align: center;
  line-height: 24px;
}
.notification{
  letter-spacing: 1px;
  color: #1E212C;
  line-height: 24px;
}
.checkboxFalse {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkboxFalse:checked + .checkboxTrue {
  background-image: url(./eventDetails/eventDetails_icons&fonts/checked.jpg);
  border: none;
}

.checkboxTrue {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #FF3F3A;
  border-radius: 3px;
  margin-right: 12px;
  &__contacts{
    position: relative;
    bottom: 12px;
  }
}

label {
  display: flex;
  align-items: center;
  color: #424551;
  font-weight: 400;
  line-height: 25.6px;

}
