@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
body{
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}
:link, :visited {
	text-decoration: none;
	}