@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

body{
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

// :link, :visited {
// 	text-decoration: none;

// }

.headingCenter60{
  font-size: 46px;
  font-weight: 900;
  line-height: 60px;  
  color: #1E212C;
  margin-bottom: 60px;
  margin-top: 9px;
  text-align: center;
}
.heading60{
  font-size: 46px;
  font-weight: 900;
  line-height: 60px;  
  color: #1E212C;
  margin-bottom: 60px;
  margin-top: 9px;
}
.heading40{
  font-size: 46px;
  font-weight: 900;
  line-height: 80px;  
  color: #1E212C;
  margin-bottom: 40px;
}

.notificationCenter{
  letter-spacing: 1px;
  color: #1E212C;
  text-align: center;
  line-height: 23px;
}
.notification{
  letter-spacing: 1px;
  color: #1E212C;
  line-height: 23px;
}
