@font-face {
    font-family: 'iconsoc';
    src: url(./fonts/iconsoc.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'iconcon';
    src: url(./fonts/iconcon.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.footer{
    height: 396px;
    background: #1E212C; 
    &_top{
        &_content{
            padding-top: 80px;
            max-width: 1230px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        height: 338px;
    }
    &_bottom{
        height: 58px;
        background: rgba($color: white, $alpha: 0.05);
        &_content{
            max-width: 1230px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 52px;
            p{
                font-size: 12px;
                font-weight: 400;
                color: white;
                margin-top: 4px;
                display: flex;
                align-items: center;
            }
            span{
                color: red;
                font-size: 25px;
                margin: 0 4px;
                
            }
            a{
                font-size: 14px;
                color: rgba($color: white, $alpha: .6);
            }
        }
    } 
}
.footer_about{
    font-size: 12px;
    font-weight: 400;
    color: rgba($color: white, $alpha: 0.6);
    line-height: 18px;
    width: 279px;
    & p{
        margin: 19px 0 41px 0;
    }
   
}
.footer_socials{
    & a{
     color: rgba($color: white, $alpha: 0.5);   
    }
    max-width: 244px;
    display: flex;
    justify-content: space-between;
    
    & a::before{
        font-family: iconsoc;
        font-size: 24px;
        content: attr(data);
    }
      & a:hover{
        color: white;
    }
}
.footer_item{
    & ul{
        padding-inline-start: 0px;
        margin-top: 8px;
    }
    & li, a{
        color: rgba($color: white, $alpha: 0.6);
        font-weight: 400;
        line-height: 34px;
    }
    & a:hover{
        color: white;
    }
    & p{
        color: white;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    input{
        margin: 25px 0 12px 0;
        padding-left: 10px;
        width: 286px;
        height: 36px;
        border-radius: 4px;
        background: rgba(255,255,255, 0.12);
        border: 1px solid rgba(255,255,255, 0.2);
        font-size: 12px;
        font-weight: 400;
        color: white;
    }
    .footer_item-notice{
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0px;
    }
}
.footer_signUp{
    p{
        letter-spacing: 1px;
    }
    max-width: 286px;

}
.createx-number::before{
    position: relative;
    right: 4px;
    font-size: 16px;
    font-family: iconcon;
    content: "\f907";
}
.createx-email::before{
    position: relative;
    right: 4px;
    font-size: 12px;
    font-family: iconcon;
    content: "\f906";
}

